


.about
{

    // Dicover container
    .discover
    {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 70px;

        // Image container
        .image
        {
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;

            img
            {
                height:60%;
                align-self: center;
            }
        }


        // Text container
        .info
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 50px;
            width: 550px;
            align-self: center;


            h2
            {
                margin-top: 20px;
                font-size: 29pt;
                margin-bottom: 25px;  
            }

            // Slider
            .tag-slider
            {
                display: flex;
                flex-direction: row;

                .slide
                {
                    color: $grey;
                    cursor: pointer;
                    text-align: center;
                    border-bottom: 3px solid $grey;
                    transition: all 1s ease;
                    padding-bottom: 10px;

                    a
                    {
                        margin: 14px;
                        font-weight: 300;
                        font-size: 13pt;
                    }
                }

                .slide:hover
                {
                    color:$secondary-color;
                }

                .active
                {
                    color:$secondary-color;
                    border-bottom: 3px solid $secondary-color;
                }
            }

            // End slider

            p
            {
                align-self: center;
                padding-top: 30px;
                padding-right: 15%;
                font-weight: 300;
                font-size: 16px;
                line-height: 1.5;
    
            }

            button
            {
                background-color: $main-color;
                color: $white;
                font-size: 15pt;
                border:1px solid $main-color;
                cursor: pointer;
                padding: 15px 20px ;
                transition: all .5s ease;
                margin-top: 20px;
                width: 150px;
                
            }

            button:hover
            {
                background-color: $white;
                border: 1px solid $black;
                color: $black;
            }
            
        }

         // End Text container
    

    }    
    // End Discover

    .servises
    {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        
        h2
        {
            align-self: center;
            font-size: 25pt;
        }



        .block-container
        {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-top: 50px;
            gap: 20px;
            width: 80%;
            align-self: center;
            
            

            .container:nth-child(2n) > .s-block > i
            {
                color: $secondary-color;
            }

            .container:nth-child(2n) > .s-block > h3:hover
            {
                color: $secondary-color;
            }
            
            .s-block:hover
            {
                border: 8px solid $white;
                box-shadow: 0 0px 20px 5px #ececec ;
            }

            .s-block
            {
                display: grid;
                grid-template-areas: 
                "i t t"
                "i p p"
                "i p p";
                border: 8px solid $ligth-grey;
                transition: all .5s ease;
                padding:50px 10px;
                height: 100%;

                h3
                {
                    grid-area: t;
                    font-size: 15pt;
                    font-weight: 600;
                    letter-spacing:1px;
                    cursor: pointer;
                    transition: color .5s ease;
                }

                h3:hover
                {
                    color:$main-color;
                }

                i
                {
                    grid-area: i;
                    font-size:30pt;
                    color: $main-color;
                    padding: 0 20px;
                }

                p
                {
                    grid-area: p;
                    font-weight: 200;
                    font-size: 12pt;
                    padding-right: 20px;
                    padding-top: 10px;
                }
            }


           
        }
    }

}



@media screen and (max-width:1200px) 
{

    .about
    {
    
        // Dicover container
        .discover
        {
            // Image container
            .image
            {
                padding-right: 0;
    
                img
                {
                    height:50%;
                }
            }
    
    
            // Text container
            .info
            {
                
                width: 550px;
    
    
                h2
                {
                    font-size: 26pt;
                    margin-bottom: 22px;  
                }
    
                // Slider
                .tag-slider
                {
                    .slide
                    {
    
                        a
                        {
                            margin: 14px;
                            font-weight: 300;
                            font-size: 12pt;
                        }
                    }
                }
    
                // End slider
    
                p
                {
                    font-size: 14px;
                }
    
                button
                {
                    font-size: 14pt;
                    padding: 15px 20px ;
                    width: 140px;
                    
                }
    
                button:hover
                {
                    background-color: $white;
                    border: 1px solid $black;
                    color: $black;
                }
                
            }
    
             // End Text container
            
    
    
        }   
    }
    
    
}


@media screen and (max-width:1000px) 
{

    .about
       {
        .discover
        {
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
            justify-items: center;
            

                // Image container
                .image
                {
                    justify-content: center;
                    img
                    {
                        height:100%;
                        max-width: 100%;
                    }
                }

                // Text container
            .info
            {
                padding-left: 0;
                width: 80%;
            


                h2
                {
                    font-size: 25pt;
                    margin-bottom: 25px;
                }

                // Slider
                .tag-slider
                {
                    .slide
                    {
                        
                        a
                        {
                            margin: 50px;
                            font-size: 13pt;
                        }
                    }

                
                }

                // End slider

                p
                {
                    padding-right: 5%;
                    font-size: 16px;
                    line-height: 1.7;
                

                }
            }
        }
        .servises
        {
            .block-container
            {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            width: 90%;
    
            }        
        }
    
    }
}
  



@media screen and (max-width:830px) 
{
    .about
    {
        .discover
        {
            
            .info
            {

                h2
                {
                    margin-top: 40px;
                    font-size: 25pt;
                }
                

                .tag-slider
                {
               
                    .slide
                    {
                        a
                        {
                            margin: 25px;
                            font-size: 12pt;
                        } 
                    }
                }
            }
        }
        .servises
        {
            margin-top: 100px;
        }
    }

}


@media screen and (max-width:620px) 
{
    .about
    {
        .discover
        {
            // Image container
            .image
            {
                

                img
                {
                    width: 100%;
                    height: auto;
                }
            }
            .info
            {
                .tag-slider
                {
               
                    .slide
                    {
                        a
                        {
                            margin: 10px;
                            font-size: 12pt;
                        } 
                    }
                }
            }
        }
        .servises
        {
            .block-container
            {
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(6,1fr);
            width: 90%;
    
            }        
        }
    }

}