
$header_size: 70px;

@mixin glassEffect($opacity,$blur)
{
    // Glass effect
    background-color: rgba(255, 255, 255,$opacity);  
    backdrop-filter: blur($blur);
}




//sidebar
@import 'sidebar';



// Change item color when item is active or hovered
@mixin activeColor($color)
{
    .active,a:hover
    {
        color: $color;
    }
}


.navbar
{
    position:absolute;
    display:grid;
    width: 100%;
    height: $header_size;
    grid-template-columns: 40% 70%;
    color:$white;
    z-index: 1500;


    .logo
    {
        color:$white;
        text-align: center;
        align-self: center;
        font-size: 22pt;
        font-weight: bold;
        transition: color .5s ease-out;
        font-family: $primary-font;
        padding-left: 5px;
    }

    .nav-items
    {
        display: flex;
        justify-content: flex-start;
        width: 80%;
        font-size: 13pt;
        align-self: center;
        font-weight: bold;


        .nav-item
        {
            text-decoration: none;
            color: $white;
            margin-right: 10%;
            cursor: pointer;
            transition: color .5s ease-out;
        }

        @include activeColor($main-color);
      
    }

    .icon-menu-wrapper
    {
        display: none;
    }

}


// Fixed navbar work when page scrolled down
.navbar.fixed
{
    position:fixed;
    color:$black;
    background-color: $white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all .5s ease-out;

    @include glassEffect(1,12px);

    .logo
    {
        color:$grey;
    }

    .nav-items
    {   
        .nav-item
        {
            color:$black;
        }

        @include activeColor($main-color);
    }
}







@media screen and (max-width: 900px)
{

    .navbar
    {
        .logo
        {
            font-size: 20pt;
        }

        .nav-items
        {
            display:none;
        }
        .icon-menu-wrapper
        {
            width: 80%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .icon-menu
            {
                cursor: pointer;
                transition: fill .5s linear;
            }

        }    
    
    }


    .navbar.fixed
    {
        .icon-menu
        {
            fill:$grey;
        }
    }
    
}



@media screen and (max-width: 500px)
{

    .navbar
    {
        .logo
        {
            font-size: 16pt;
        }

        
    }
    
}

