@import 'variables';

* 
{
    margin:0;
    font-family: $font-stack;
}


//Header
@import 'header';



// Slider
.slider
{
    height:100vh;
    background-color: #dfdfdf;

    img
    {
        height: 100%;
        width: 100%;
    }
}









//Footer

.footer
{
    height: 100vh;
}