

// 'Architects Daughter'
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

// 'Lato'
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


@import 'variables';

* 
{
    margin:0;
    font-family: $font-stack;
}


//Header
@import 'header';



//Slider
@import 'slider';









//Footer

.footer
{
    height: 100vh;
}