


.inspired
{
    height: 100vh;
    width: 100%;
    margin-top: 100px;
    background-color:$grey;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
    
    
    .title-container
    {
        height: 170px;
        overflow: hidden;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        transform:translate(-50%,-50%);
    }
    h2
    {
 
        color: $white;
        font-family: $primary-font;
        font-size: 120pt;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform:translate(-50%,-50%);
    
    }

    video
    {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
        z-index: 1;
    }
}


@media screen and (max-width:650px) 
{

    .inspired
    {
        h2
        {
            font-size: 60pt;
        }
    }
    
}