

.offers
{

    $container-width:400px;
    padding: 100px 0 150px;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: $ligth-grey;
    width: 100%;
    
    h2
    {
        font-size: 24pt;
    }

    p
    {
        font-size: 11pt;
        font-weight: 300;
        width:700px;
        margin:30px 0;
    }


   
    .offer-frames
    {
        display: grid;
        grid-template-columns: repeat(3,$container-width);
        flex-direction: row;
        gap:50px;

        .offer-frame
        {   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .image-container
            {
                height: $container-width;
                position: relative;
                overflow: hidden;
                
                img
                {
                    height: 100%;
                    position: relative;
                    transition: all .5s ease;
                    transform: scale(1.1);                   
                }

                .layer
                {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all .7s ease;
                    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.3));
                    opacity: 0;
                }

                button
                {
                    position: absolute;
                    top: 85%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $secondary-color;
                    border: 0;
                    border-radius: 2px;
                    color:$white;
                    padding: 15px;
                    cursor: pointer;
                    transition: all .5s ease;
                    opacity: 0;
                    font-size: 13pt;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                button:hover
                {
                    background-color: $main-color;
                }
    
            }

            .image-container:hover img
            {
                transform: scale(1);
            }

            .image-container:hover button
            {
                opacity: 1;
            }
            
            h3
            {
                margin: 18px;   
                font-size:17pt; 
                letter-spacing: 1px;
                font-weight: 400;
            }
                
            h4
            {
                color: $secondary-color;
                letter-spacing: 2px;
                font-size: 12pt;
            }


        }

        .offer-frame:hover > .image-container > .layer
        {  
            opacity: 1;
        }
    }


}



@media screen and (max-width:1350px)
{
    
    .offers
    {
        $container-width:340px;

        .offer-frames
        {
            grid-template-columns: repeat(3,$container-width);
            
            .offer-frame
            {
                
                .image-container
                {
                    height: $container-width;
                }
            
            }
        }
    }
}


@media screen and (max-width:1350px)
{
    
    .offers
    {
        $container-width:300px;

        .offer-frames
        {
            grid-template-columns: repeat(3,$container-width);
            
            .offer-frame
            {
                
                .image-container
                {
                    height: $container-width;
                }
            
            }
        }
    }
}



@media screen and (max-width:1050px)
{
    
    .offers
    {
        $container-width:450px;

        .offer-frames
        {
            grid-template-columns: repeat(1,$container-width);
            
            .offer-frame
            {
                
                .image-container
                {
                    height: $container-width;
                }
            
            }
        }
    }
}



@media screen and (max-width:750px)
{
    
    .offers
    {
        $container-width:400px;
        overflow-y: hidden;

        p
        {
            width:90%;
        }

        .offer-frames
        {
            grid-template-columns: repeat(1,$container-width);
            
            .offer-frame
            {
                
                .image-container
                {
                    height: $container-width;
                }
            
            }
        }
    }
}

