

// COLORS
$white:white;
$black:black;
$grey:rgb(128, 119, 119);
$ligth-grey:#f7f7f7;
$main-color:#96b74c;
$secondary-color:#098eac;
$facebook-color:#5545B6;
$twitter-color:#4486F7;
$instagram-color:#E7001F;
$linkedin-color:#383820;


// FONTS
$primary-font:'Architects Daughter';
$font-stack:  'Lato' ,Helvetica, sans-serif;



